.todo-panel {
  margin-top: 1rem;

  &-body {
    border: solid 1px var(--brown);
    border-top: solid .5rem var(--brown);
    box-shadow: 0 0 .5rem rgba(black, .1);
  }

  &-footer {
    width: 98%;
    margin: 0 auto;
    padding: .3rem .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--gray-100);
    border: solid 1px var(--gray-200);
    box-shadow: 0 0 .5rem rgba(black, .1);
    font-size: .8rem;
    color: var(--gray-600);

    &-section__filter {
      margin: 0 .2rem;
      background: none;
      outline: none;
      border: none;
      cursor: pointer;

      &--active {
        font-weight: bold;
      }
    }

    &-section__clear {
      padding: .3rem .5rem;
      background-color: var(--gray-300);
      border: none;
      outline: none;
      border-radius: .2rem;
      cursor: pointer;

      &:disabled {
        background-color: var(--gray-200);
        box-shadow: inset 0 0 .1rem rgba(black, .2);
      }
    }
  }

  &__hint {
    font-size: .9rem;
    text-align: center;
    color: var(--gray-500);
    margin-top: 1rem;
  }
}