* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  color: var(--gray-900);
  font-size: 16px;

  @media (max-width: 1000px) {
    font-size: 14px;
  }
}

ul {
  list-style: none;
}