.todo-item {
  width: 100%;
  padding: .4rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-top: dashed 1px var(--gray-200);

  &:hover .todo-item__close {
    opacity: 1;
  }

  &__checkbox {
    margin-right: 1rem;
  }

  &__title {
    width: 100%;
    padding: .3rem .5rem;
    font-size: .9rem;
    border: 1px solid white;
    outline: none;
    cursor: default;

    &:focus {
      border: 1px solid var(--gray-200);
    }
  }

  &__close {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    margin-left: auto;
    opacity: 0;
    transition: opacity .2s;
    margin-left: 1rem;
  }
}